.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  position: relative;
  top: 6vh;
}

.banner {
  background-color: #282c34;
  height: 10vh;
  width: 100%;
}

.banner ul {
  margin: 0;
}

.banner ul li{
  display:inline-block;
  color: white;
  padding: 5px;
  margin: 5px;
  text-decoration: underline;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-container h1 {

}

.highlight {
  width: 75vw;
  margin: 5vh auto;
}

.jumbotron h1 {
  margin-bottom: 3vh;
}

.col p {
  margin-top: 5px;
}